<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Book</title>
</head>
<body>
<h2>View Book</h2>
<p>ID: <span th:text="${book.id}"></span></p>
<p>Title: <span th:text="${book.bookName}"></span></p>
<p>Author: <span th:text="${book.author}"></span></p>
<p>Quantity: <span th:text="${book.quantity}"></span></p>
<a th:href="@{/books}">Back to Book List</a>
</body>
</html>