<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout :: head">
    <title>Update Category</title>
</head>
<body>
<h2>Update Category</h2>
<p>
    <a th:href="@{/categories}">
        Back to category list
    </a>
</p>

<div id="form">
    <form th:action="@{/categories/update}" th:object="${category}" method="post" novalidate="novalidate">
        <input type="hidden" th:field="*{id}">

        <div>
            <label for="type">Type:</label>
            <input type="text" id="type" name="type" th:field="*{type}">
        </div>

        <input type="submit" value="Update"/>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>