<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout :: head">
    <title>Detail product</title>
</head>
<body>
<h3>View Product</h3>
<p>
    <a th:href="@{/products}">
        Back to product list
    </a>
</p>
<div id="detail">
    <div class="cus-detail">
        <label>Name: </label>
        <label th:text="${product.name}"></label>
    </div>

    <div class="cus-detail">
        <label>Price: </label>
        <label th:text="${product.price}"></label>
    </div>

    <div class="cus-detail">
        <label>Description: </label>
        <label th:text="${product.description}"></label>
    </div>

    <div class="cus-detail">
        <label>Manufacturer</label>
        <label th:text="${product.manufacturer}"></label>
    </div>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>