<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Customer</title>
</head>
<body>
<p>
    <a th:href="@{/products/create}">
        Add New Product
    </a>
</p>
<h1>List Customer</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Manufacturer</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.manufacturer}"></td>
            <td><a th:href="@{/products/__${product.id}__/update}">Update</a></td>
            <td><a th:href="@{/products/__${product.id}__/delete}">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>