<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout :: head">
    <title>Create Customer</title>
</head>
<body>
<h3>Add New Customer</h3>
<p>
    <a th:href="@{/customers}">
        Back to customer's list
    </a>
</p>

<div id="form">
    <form th:action="@{/customers/create}" th:object="${customer}" method="post" novalidate="novalidate">
        <input type="hidden" th:field="*{id}">

        <div>
            <label for="firstName">FirstName</label>
            <input type="text" id="firstName" name="firstName" th:field="*{firstName}">
        </div>

        <div>
            <label for="lastName">LastName</label>
            <input type="text" id="lastName" name="lastName" th:field="*{lastName}">
        </div>

        <div>
            <label for="province">Province</label>
            <select id="province" th:field="*{province}">
                <option th:each="p : ${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
            </select>
        </div>

        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>