#myBtn-scroll {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(238, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn-scroll:hover {
    background-color: red;
}

.product-detail{
    background-color: #f7f7f7;
    padding: 48px 0;
}